input[type='submit'],
.btn {
  -webkit-appearance: none;
  align-items: center;
  background-color: $base;
  border: 0;
  border-radius: 6px;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: bold;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 6px;
  }

  &.disabled,
  &[disabled='disabled'] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
.btn.btn--destroy {
  background-color: $gray1 !important;
  color: $red5 !important;
}
.btn.btn--accent {
  background-color: $indigo4;
  color: $gray1;
}

form .flex-auto + input[type='submit'] {
  height: 2.5rem;
}
