.details > p,
.details > div,
.details__row {
  align-items: center;
  border-bottom: 1px solid $gray2;
  display: grid;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;

  @media (min-width: 32em) {
    grid-template-columns: 10rem auto;
    grid-gap: 0.5rem;

    strong {
      text-align: right;
    }
  }

  > a.right:last-child,
  > div.right:last-child,
  > svg {
    float: none;
    line-height: 0;
    position: absolute;
    right: 0;
  }
}
