input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  -webkit-appearance: none;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $gray2;
  color: inherit;
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  margin-left: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  position: relative;
  transition: border 0.2s ease;
  width: 100%;
  max-width: 24rem;

  &:focus {
    border-color: $base;
  }
}

input[type='file'] {
  color: inherit;
  display: block;
  font-size: 1rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
.input--narrow {
  max-width: 16rem !important;
}

.field_with_errors {
  label {
    font-weight: bold;
    color: $red7;
  }
  input {
    border-color: map-get($palette, error);
  }
}

.field {
  margin-bottom: 0.75rem;
}
.field--money {
  display: flex;
  align-items: center;

  &:before {
    content: '$';
    font-weight: bold;
    color: map-get($palette, muted);
    display: inline-block;
    width: 1rem;
  }

  input {
    max-width: 15rem !important;
  }
}
.field--checkbox {
  display: flex;
  align-items: center;

  input {
    margin-right: 0.5rem;
  }
}
.field--radiobox {
  display: flex;
  align-items: center;

  label {
    margin-right: 0.5rem;
  }
}
.actions {
  margin-top: 1.5rem;
}

#error_explanation {
  width: 32rem;
  border: 2px solid $red7;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: $red0;
  border-radius: 4px;

  h2 {
    color: $red7;
    border-bottom-color: $red6;
    margin-top: 0;
    font-size: 1.25rem;
  }

  ul {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

$select: image-url('select.svg');
select {
  background: #{$select} right 0.75rem center / 0.5rem no-repeat $white;
}
// rails date(time) inputs
select[name$='i)]'] {
  width: 4.5rem;
  display: inline-block;
}
// rails month inputs should be wider
select[id$='_2i'] {
  width: 9.125rem; // magic number, makes form page_sm wide
}

textarea.card {
  max-width: none;
  border: 0;
  transition: 0.2s ease box-shadow;

  &:focus {
    box-shadow: inset 0 0 0 1px $base, 0 0 2px 0 rgba(0, 0, 0, 0.0625),
      0 4px 8px 0 rgba(0, 0, 0, 0.125);
  }
}
