.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.container--md {
  max-width: 48rem;
}
.container--sm {
  max-width: 32rem;
}
.container--xs {
  max-width: 24rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  width: 100%;

  > a {
    color: inherit;
    text-decoration: none;
  }
}
.list-reset,
ul.grid {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 32em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .grid--narrow {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .grid--spacious {
    grid-gap: 2rem;
  }
}
