.stat {
  display: block;
}
.stat__value {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  &:before {
    content: '$';
    font-size: 1.5rem;
    vertical-align: super;
  }
}
.stat__label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.stat--small {
  display: inline-block;
  .stat__value {
    font-size: 2rem;
    &:before {
      font-size: 1rem;
    }
  }
}

.event-summary {
  display: grid;
  align-items: end;

  @media screen and (max-width: 32em) {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    [area='spendable'] {
      grid-column: 1;
      grid-row: 2;
    }
    [area='incoming'] {
      grid-column: 2;
    }
  }

  @media screen and (max-width: 28em) {
    grid-gap: 0.5rem !important;
  }

  @media (min-width: 32em) {
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
