.map-header {
  background-color: $blue9;
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: white;
  overflow-y: visible;

  @media (hover: hover) {
    background-attachment: fixed;
  }

  h1 {
    border: 0;
    padding: 0;
  }

  .breadcrumb {
    color: inherit;
    opacity: 0.75;
    font-weight: 500;
  }

  .container {
    position: relative;
  }

  .pop {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}
