.map-header {
  background-color: $blue9;
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: white;
  overflow-y: visible;

  @media (hover: hover) {
    background-attachment: fixed;
  }

  h1 {
    border: 0;
    padding: 0;
  }

  .breadcrumb {
    color: inherit;
    opacity: 0.75;
    font-weight: 500;
  }

  .container {
    position: relative;
  }

  .pop {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}

.bg-notify {
  background: radial-gradient(
    ellipse farthest-corner at top left,
    $cyan6,
    $blue5
  );
  color: $white;

  textarea {
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: screen;
  }

  input[type='submit'],
  .btn {
    background: $white;
    color: $blue5;
    margin: 1rem 0 0;
  }
}

.bg-media {
  background: radial-gradient(
    ellipse farthest-corner at top left,
    $pink5,
    $red5
  );
  color: $white;

  a {
    color: $white;
  }
}

.calendar {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 4px solid $red5;
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.calendar__month {
  font-size: 0.875rem;
  line-height: 1.625;
  background-color: $red5;
  color: $white;
  font-weight: 500;
}
.calendar__day {
  font-size: 1.5rem;
  line-height: 1.375;
}
