@import 'variables';

@font-face {
  src: url('/gt-america-regular.woff') format('woff');
  font-family: GT-America;
  font-weight: 400;
}
@font-face {
  src: url('/gt-america-medium.woff') format('woff');
  font-family: GT-America;
  font-weight: 500;
}
@font-face {
  src: url('/gt-america-bold.woff') format('woff');
  font-family: GT-America;
  font-weight: 700;
}
@font-face {
  src: url('/gt-america-black.woff') format('woff');
  font-family: GT-America;
  font-weight: 900;
}

$font-family: 'GT-America', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, sans-serif;
$mono: 'SFMono-Regular', 'Roboto Mono', Menlo, monospace;

* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  min-height: 100%;
  min-width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.5;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: black;
  margin: 0;
  padding-bottom: 2rem;
}

pre,
code,
.mono {
  font-family: $mono;
}

a {
  color: currentColor;
}

strong {
  font-weight: bold;
}

textarea {
  min-height: 4rem;
  line-height: 1.5;
  resize: vertical;
}

pre {
  background-color: $gray1;
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
}

a {
  color: $gray8;

  &:hover &:focus {
    color: $gray9;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.125;
}
h1 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dde1e4;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

p + p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}
th {
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.125rem;
}
td {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
td,
th {
  &:first-child {
    padding-left: 0.75rem;
  }
}

hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px solid map-get($palette, smoke);
}

svg {
  fill: currentColor;
  flex-shrink: 0;
}

@import 'components/badges';
@import 'components/buttons';
@import 'components/cards';
@import 'components/details';
@import 'components/filters';
@import 'components/forms';
@import 'components/headings';
@import 'components/layouts';
@import 'components/lists';
@import 'components/stats';
@import 'components/steps';
@import 'components/tooltips';

.turbolinks-progress-bar {
  height: 0.25rem;
  background-color: map-get($palette, primary);
}

.flash {
  background-color: $white;
  border-radius: 0.5rem;
  border: 1px solid currentColor;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.0625), 0 4px 8px 0 rgba(0, 0, 0, 0.125);
  font-weight: 500;
  max-width: 24rem;
  padding: 0.5rem 0.75rem 0.5rem 1rem;

  &.success {
    color: $teal7;
    background-color: $teal0;
  }
  &.info {
    color: $blue7;
    background-color: $blue0;
  }
  &.error {
    color: $red7;
    background-color: $red0;
  }
}

.admin-tools {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed map-get($palette, warning);
  background: $yellow0;
}

@import 'basscss';
@import 'space';
@import 'utilities';
